{% extends 'testapp/base.html' %}
{% load static %}
{% block title %}
Trending News
{% endblock %}
{% block content %}
{% if tag %}
<h2 style="color:#3b5998"> #{{tag.name}}</h2>
{% endif %}
<div class="container">
        <img src="{% static 'images/news1.jpg' %}" alt="" width="320px">
</div><br>
{% for trend in trends_list %}
<div class="container" style="border:1px solid black;border-radius:10px;padding-top:10px;margin-bottom:10px;">
<a href="{{trend.link}}" target="_blank"><h5>{{trend.title}}</h5></a>
{% if trend.image %}
<img src="{{trend.image.url}}" width="300px" height="auto" alt="">
<p>{{trend.body}},<span style="color: gray;">source:{{trend.source|title}}</span></p>
<div class="container">
    {% for tag in trend.tags.all %}
     <a href="{% url 'news_tag' tag.slug %}"><p style="display: inline;"> <span>#{{tag.name}} </span></p> </a>
      {% endfor %}
    </div>
</div>
{% endif %}
{% endfor %}
{% include 'testapp/paginator.html' with page=trends_list %}
{% endblock %}